@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #111;
  width: 100vw;
  height: 30vh;
}

.main-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 3rem;
}

#productos {
  margin-top: 60px;
  text-align: center;
}

#productos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.image {
  width: 100vw;
  height: 40vh;
  background-image: url(images/snowboarding.jpg);
  background-position:center;
  background-size: cover;

}

.productos-img img {
  width: 20rem;
}

footer {
  background-color: #111;
  width: 100vw;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  background-color: #3780c4;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.card {
  width: 30vw;
  height: 30vh;
  /*background-color: lightblue;*/
  padding: 30px;
  margin-top: 30px;
}

footer .frostline-card p {
  font-size: 0.7rem;
  margin-top: 10px;
}

.social-icons {
  margin-top: 20px;
}

.quick-links h4, .contact-us h4 {
  margin-top: 23px;
  text-align: center;
}