@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ================== VARIABLES ================== */
:root {
  --white: #fff;
  --black: #111;
  --blue: #4373D0;
  --gray: #dedede;
}

/* ================== RESET GENERAL ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ================== HEADER ================== */
.container {
  width: 100%;
  height: 15vh;  
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 20px;
  width: 110px;
  height: auto;
}

/* ================== NAV ================== */
nav ul {
  font-size: 1rem;
  font-weight: 300;
  width: 40vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

nav ul li a:hover {
  font-weight: bold;
  transition: 0.3s;
}

/* ================== MAIN ================== */

/* ---- Sección inicio ---- */
.container-inicio{
  position: absolute;
  bottom: 80px;
  left: 50px;
}

.main-title {
  font-size: 7rem;
  font-weight: 800;
  color: var(--black);
}
.container-inicio p {
  font-size: 1.5rem;
  font-weight: 330;
  color: var(--white);
}
.producto-btn {
  font-size: 1.2rem;
  font-weight: 330;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer
  ;
}

.image {
  width: 100%;
  height: 85vh;
  background-image: url(images/main-img.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

/* ---- Sección productos ---- */
#productos {
  max-width: 1200px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
}

#productos h2 {
  font-size: 2.5rem;
  margin-bottom: 60px;
  font-weight: 400;
}

.productos-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product-card{
  width: 30%;
  height: 100%;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.product-card p {
  margin-top: 20px;
  font-size: 1.4rem;
}

/* ---- Sección video ---- */
.video-container {
  margin: 150 auto;
  height: 60vh;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

video {  
  height: 50%;
  height: 100%;
  object-fit: cover;
}
.video-txt {
  width: 100%;
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  gap: 10px;
}

.video-txt h3 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.video-txt img {
  width: 30px;
  margin-right: 5px;
}

.txt {
  display: flex;
  align-items: center;
}

/* ---- Sección reviews ---- */
.reviews {
  max-width: 1200px;
  margin: 150px auto;
}
.reviews h2{
  font-size: 2.5rem;
  margin-bottom: 60px;
  font-weight: 400;
}
.reviews-cards{
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 10px;
}
.card {
  width: 26vw;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  box-shadow: 5px 8px 8px var(--gray);
}
.card p {
  text-align: center;
}
.estrellas img {
  width: 40px;
  height: auto;
}

/* ---- Sección Contactanos ---- */
.contactanos {
  margin: 150px 0;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactanos-card {
  width: 25%;
  margin-right: 40px;
}

.contactanos-card, .contactanos-card form {
  display: flex;
  flex-direction: column;
}

.contactanos-card h2{
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid var(--black);
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--black);  
}

.contactanos-btn {
  font-size: 1rem;
  font-weight: 330;
  margin-top: 20px;
  padding: 20px 40px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.contactanos-img img {
  width: 100%;
  height: 100%;
}

/* ================== FOOTER ================== */
footer {
  background-color: var(--black);
  padding: 100px 20px;
  height: auto;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ---- Cards del footer ---- */
.frostline-card {
  width: 25vw;
  height: 30vh;
}

.quick-links-card,
.contact-us-card {
  width: 13vw;
  height: 30vh;
}

/* ---- Contenido frostline ---- */
footer .frostline-card p,.contact-info p  {
  font-size: 1rem;
  margin-top: 10px;
}

.logo-footer {
  width: 200px;
  margin-left: -16px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  margin-right: 10px;
}

/* ---- Quick links ---- */
.quick-links-card h4,
.contact-us-card h4 {
  margin-top: 22px;
}

.quick-links {
  margin-top: 35px;
  font-size: 1rem;
  list-style: none;
}

.quick-links li {
  margin-bottom: 21px;
}

.quick-links li a {
  text-decoration: none;
  color: var(--white);
}

/* ---- Contact info ---- */
.contact-info {
  margin-top: 35px;
  width: 140px;
}

/* ================== MEDIA QUERIES ================== */
@media only screen and (max-width: 600px) {

  /* INICIO ---------------------------*/
  .container nav ul{
    margin-right: 30px;
  }
  .container nav ul a {    
    font-size: 0.6rem;
  }
  .container-inicio h1 {
    font-size: 4rem;
  }

  /* PRODUCTOS ---------------------------*/
  #productos {
    padding: 40px;
    height: auto;
    margin: 80px 0;
  }
  #productos h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .productos-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .product-card {
    width: 50%;
    margin-bottom: 20px;
  }
  .product-card img {
    width: 100%;
  }
  .product-card p {
    margin-top: 0px;
    font-size: 1rem;
  }

  /* VIDEO ---------------------------*/
  .video-container {
    flex-direction: column;
    height: auto;
    background-color: pink;
  }
  .video-container video {
    width: 100%;
    height: auto;
  }
  .video-txt {
    background-color: var(--black);
    height: 60vh;
  }

  /* REVIEWS ---------------------------*/
  .reviews {
    padding: 40px;
    margin: 80px 0;
  }
  .reviews h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .reviews-cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 80vw;
  }

  /* CONTACTANOS ---------------------------*/
  .contactanos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 80px 0;
  }
  .contactanos-card {
    padding: 40px 40px;
    width: 100%;
    height: auto;
  }
  .contactanos-card h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .contactanos-img {
    padding: 40px;
  }

  /* FOOTER ---------------------------*/
  footer {
    height: auto;
    flex-direction: column;
    padding: 70px 20px 10px;
  }
  .frostline-card, .quick-links-card, .contact-us-card {
    width: 100%;
    margin-bottom: 40px;
    padding: 0 20px;
    
  }
  .social-icons {
    width: 100%;
  }
}